@import 'Style.scss';

input[type=submit], input[type=text] {
  line-height: 40px;
  font-size: $font-size;
}
input::placeholder {
  text-align: center;
}
.input-input {
  // padding-left: $btn-size;
  height: 40px;
  width: $app-width;
  border: solid 2px black;
  font-size: $font-size;
  @media(max-width: $max-width) {
    width: $small-app-width;
  }
}
.input-btn {
  position: absolute;
  right: 0;
  width: $btn-size;
  height: $btn-size;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0, 0, 0, 0);
  border-left: 1px solid #333;
  cursor: pointer;
}
#input-inside-container {
  height: 100%;
  width: 100%;
  font-size: $font-size;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: inherit;
}
.input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
