@import 'Style.scss';

input[type=submit], input[type=text] {
  line-height: 40px;
  font-size: $font-size;
}
input::placeholder {
  text-align: center;
}
.input-input {
  padding-left: $btn-size;
  height: 40px;
  width: $app-width;
  font-size: $font-size;
}
.input-btn {
  width: $btn-size;
  height: $btn-size;
  border: 2px solid #333;
}
#input-inside-container {
  height: 100%;
  width: 100%;
  font-size: $font-size;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: inherit;
}
.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
